/* line 8, ../../../app/assets/styles/main.scss */
body {
  background: #111111;
  color: #e5e5e5;
}

/* line 15, ../../../app/assets/styles/main.scss */
.site-header {
  padding: 20px 10px 10px;
  position: relative;
}
/* line 19, ../../../app/assets/styles/main.scss */
.site-header h1 {
  padding-top: 10px;
}
/* line 23, ../../../app/assets/styles/main.scss */
.site-header .logo {
  width: 140px;
  height: 140px;
}
/* line 28, ../../../app/assets/styles/main.scss */
.site-header .burger {
  position: absolute;
  top: 10px;
  left: 10px;
}
/* line 33, ../../../app/assets/styles/main.scss */
.site-header .burger a {
  display: inline-block;
  width: 30px;
  height: 30px;
}
/* line 39, ../../../app/assets/styles/main.scss */
.site-header .burger #open-menu {
  background: pink;
}
/* line 43, ../../../app/assets/styles/main.scss */
.site-header .burger #close-menu {
  background: yellow;
}

/* line 49, ../../../app/assets/styles/main.scss */
.content {
  border-top: 1px solid #666666;
  border-bottom: 1px solid #666666;
  font-size: 130%;
  padding: 20px 10px 10px;
}
/* line 56, ../../../app/assets/styles/main.scss */
.content a:link,
.content a:visited {
  color: yellowgreen;
}
/* line 60, ../../../app/assets/styles/main.scss */
.content a:hover {
  color: #7ba428;
}
/* line 64, ../../../app/assets/styles/main.scss */
.content a:active {
  color: #c2e184;
}

/* line 69, ../../../app/assets/styles/main.scss */
.site-footer {
  color: #b2b2b2;
  padding: 10px 10px 20px;
}
